@using Museum.WebApp.Models;

@model IEnumerable<Museum.WebApp.Models.ExhibitViewModel>
@{
    ViewBag.Title = "Exhibits";
}

<div class="content-wrapper">
    <article class="exhibit-list">
        <h2>Exhibits</h2>
        <ul class="exhibits-list">
            @foreach(var exhibit in Model)
            {
                var artifactForDisplay = new ArtifactViewModel();
                artifactForDisplay.Title = "Artifact Image Placeholder";

                if (exhibit.Artifacts != null && exhibit.Artifacts.Count() > 0)
                {
                    artifactForDisplay = exhibit.Artifacts.ToList<ArtifactViewModel>()[0]; 
                }    
        
                <li class="clear-fix">
                    <img src="@artifactForDisplay.ImageUrl" alt="@artifactForDisplay.Title" />
                    <h3><a href="/home/gallery/@exhibit.Id">@exhibit.Title</a> <span>by @exhibit.CreatedByUser.UserName</span></h3>
                    <span>@exhibit.CreatedAtString</span>
                    <p>@exhibit.Description</p>
                </li>
            }
        </ul>
    </article>
    <aside class="tags">
        <h2>Exhibits by Tag</h2>
        <div id="TagCloud"></div>
    </aside>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.getJSON("/api/tags", null, function (data) {
            if (data) {
                data.forEach(function (tag) {
                    $('#TagCloud').append('<a href="/home/Exhibits/' + tag + '" class="tag-link">' + tag + '</a>');
                });                
            }
        });
    });
</script>