@model Museum.WebApp.Models.ExhibitViewModel
@{
    ViewBag.Title = "Exhibit Gallery";    
}
<div class="content-wrapper">
    <h2>@Model.Title</h2>
    <h3>@Model.Title</h3>
    <h4>@Model.CreatedAt</h4>
    <div>
        @Model.Description
    </div>
    <div id="gallery" class="galleria">
    @foreach(var artifact in Model.Artifacts)
    {    
       <img src="@string.Format("http://api.everlive.com/v1/pxjW9x5tvwHdFXzI/Files/{0}/Download", artifact.Image)" data-title="@artifact.Title" data-description="@artifact.Description">                
    }
    </div>
</div>
@*@foreach(var artifact in Model.Artifacts)
{
    <div>
        <img style="width:100px; height:200px;" src="
            @string.Format("http://api.everlive.com/v1/pxjW9x5tvwHdFXzI/Files/{0}/Download", artifact.Image)" />
    </div>
    <div>
        <h3>@artifact.Title</h3>
        <div>
            @artifact.Description
        </div>
    </div>
}*@
<script>
    $(document).ready(function () {
        Galleria.configure({
            imageCrop: true,
            transition: 'fade'
        });
       
        Galleria.loadTheme('/Scripts/themes/classic/galleria.classic.min.js');
        Galleria.run('.galleria');
       
    });
</script>