<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>    
    <link type="text/css" rel="stylesheet" href="/Scripts/themes/classic/galleria.classic.css" />
    <script type="text/javascript" src="/Scripts/galleria-1.3.2.min.js"></script>
    <script type="text/javascript" src="/Scripts/themes/classic/galleria.classic.min.js"></script>
</head>
<body>
    <header>
        <div class="content-wrapper clear-fix">
            <h1 class="site-title"><a href="~/" alt="Myseum Home" title="Myseum Home">Myseum</a></h1>
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Download from iTunes", "ITunes")</li>
                    <li>@Html.ActionLink("Download from the Play Store", "GooglePlay")</li>
                </ul>
            </nav>
        </div>
    </header>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    <footer>
        <div class="content-wrapper">
            <h1>Follow us on <a href="https://twitter.com/MyseumApp">Twitter</a>, <a href="https://www.facebook.com/Myseumapp">Facebook</a> and <a href="https://plus.google.com/b/103086855995866549705/103086855995866549705">Google+</a></h1>
            <span>Copyright &copy; 2013, Myseum, Inc.</span>
        </div>
    </footer>
</body>
</html>
